<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-select slot="end" class="ion-padding-end" [value]="auth.getPersonification()" (ionChange)="changePersonification($event)">
      <ion-select-option *ngFor="let user of users">{{user}}</ion-select-option>
    </ion-select>
    <ion-text slot="end" class="ion-padding-end" style="text-decoration: underline; cursor: pointer" color="danger" (click)="logout()">Logout</ion-text>
  </ion-toolbar>
</ion-header>