.fixed-width-item {
    max-width: 300px; /* Imposta la larghezza fissa desiderata */
    margin: 0 auto; /* Centra gli elementi */
  }

  .register-link {
    text-align: center;
    margin-top: 20px;
  }