<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Melkor's Nest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login()" [formGroup]="loginForm" class="login-form">
    <ion-item class="fixed-width-item">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="type" formControlName="username" required></ion-input>
    </ion-item>

    <ion-item class="fixed-width-item">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button class="fixed-width-item" expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>

    <ion-text class="register-link" color="danger" *ngIf="loginError">
      <p>{{ loginError }}</p>
    </ion-text>
  </form>
</ion-content>
