<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="auth.isAuthenticated()">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <div *ngIf="p.subList.length == 0">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>
            <div *ngIf="p.subList.length > 0">
              <ion-item button lines="none" detail="false" (click)="p.open = !p.open" >
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                <ion-icon aria-hidden="true" slot="end" [ios]="(p.open ? 'remove' : 'add') + '-outline'" [md]="(p.open ? 'remove' : 'add') + '-sharp'"></ion-icon>
              </ion-item>
              <div *ngIf="p.open">
                <ion-menu-toggle auto-hide="false" *ngFor="let q of p.subList; let i = index">
                  <ion-item class="sub-item" routerDirection="root" [routerLink]="[q.url]" lines="none" detail="false" routerLinkActive="selected">
                    <ion-icon aria-hidden="true" slot="start" [ios]="q.icon + '-outline'" [md]="q.icon + '-sharp'"></ion-icon>
                    <ion-label>{{ q.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>